base(target="_blank")
img(src="https://i.imgur.com/FJWMp6v.png")
img(src="https://i.imgur.com/F5aBvgT.png")
img(src='https://images.unsplash.com/photo-1513039464749-94912b3841ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60', data-url="https://unsplash.com/photos/u5K46PukKAo")
img(src="https://images.unsplash.com/photo-1488953994029-e6a7ba3348f7?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60", data-url="https://unsplash.com/photos/dwKd_Epw2GE")
img(src="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", data-url="https://unsplash.com/photos/L-2p8fapOA8")

a#elbga(href="https://i.imgur.com/FJWMp6v.png") https://unsplash.com/photos/L-2p8fapOA8