.matrix__icon__img {
  outline: 1px solid white;
  border-radius: 50%;
}

#matrix__container {
  background-color: #121212;
}

hr {
  border: 1px solid white;
}

#center__text__container {
  position: absolute;
  margin-top: 40vh;
  margin-left: 40vw;

  color: white;
  width: 20%;

  background-color: #121212;
}

#center__text__container p {
  font-size: 1vw;
}
