.matrix__icon__img {
  outline: 1px solid white;
  border-radius: 50%;
}

.icon__info {
  color: white;
  width: 20%;
  padding-left: 1vw;
}

.icon__info p {
  font-size: 1vw;
}

.icon__info span {
  font-weight: 800;
  font-size: 1.5vw;
}
