.story__container {
  text-align: left;

  color: black;
}

.content__container {
  padding: 5vw;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: white;
}

.data__text {
  color: gray;
  font-size: 1.5vw;
}

section {
  border-top: 1px solid black;
}

.header__img__container {
  padding: 5vw;
}

h2 {
  font-size: 1.5vw;
}

#content__text {
  color: black;
  text-align: left;
  width: 25%;
  font-size: 0.8vw;
}

#content__container {
  position: absolute;
  margin-left: 10vw;
  margin-top: 70vh;
}

Link {
  position: absolute;
}

.navigation__wrapper {
  position: absolute;
}

.hidden__num__wrapper {
  color: white;
  font-size: 5vw;
}
