.matrix__icon__img {
  outline: 1px solid white;
  border-radius: 50%;
}

#matrix__container {
  background-color: #121212;
}

hr {
  border: 1px solid white;
}

#center__text__container {
  color: white;
  width: 28%;
  background-color: #121212;
  opacity: 0;
}

.emph__text {
  font-weight: 800;
  font-family: GraphikMedium;
  font-size: 1.2vw;
  color: #9d9d9d;
}

.axis__label {
  font-family: GraphikMedium;
  color: #9d9d9d;
}

.center__blurb {
  font-family: GraphikRegular;
  font-size: 1.2vw;
  color: #9d9d9d;
}

/* #y__axis {
  animation: animateHeight 1s ease-in-out;
} */

#x__axis {
  /* animation: animateWidth 1s ease-in-out; */
  width: 0;
  color: #9d9d9d;
  border: 0.5px;
}

@keyframes animateHeight {
  from {
    height: 0;
  }
  to {
    height: 80vh;
  }
}

@keyframes animateWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* for animation */
.indiv__icon__wrapper {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.52, 0.01, 0.16, 1);
}
