.matrix__icon__img {
  outline: 1px solid white;
  border-radius: 50%;
}

#matrix__container {
  background-color: #121212;
}

hr {
  border: 1px solid white;
}

#center__text__container {
  color: white;
  width: 22%;
  background-color: #121212;
}

#center__text__container p {
  font-size: 1vw;
}

.emph__text {
  font-weight: 800;
}
