.story__container {
  text-align: left;

  color: black;
}

.content__container {
  padding: 5vw;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: white;
}

.data__text {
  color: gray;
  font-size: 1.5vw;
}

section {
  border-top: 1px solid black;
}

.header__img__container {
  padding: 5vw;
}

h2 {
  font-size: 1.5vw;
}

#content__container {
  position: absolute;
  margin-left: 5vw;
  margin-top: 60vh;
  text-align: left;
  width: 27%;
}

#content__container #header {
  font-size: 1vw;
  font-weight: 800;
  margin-bottom: 2vw;
}

#content__container #subheader {
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 0.5vw;
}

#content__container #paragraph {
  font-size: 1vw;
}

Link {
  position: absolute;
}

.hidden__num__wrapper {
  color: white;
  font-size: 5vw;
}

#nav__btn {
  color: white;
  font-size: 1.5vw;
  font-style: italic;
}
