.min-vh-100 {
  min-height: 100vh;
}

/* These are not exactly 40 and 10 per say to leave some room */

.min-vh-40 {
  min-height: 38vh;
}

.min-vh-10 {
  min-height: 8vh;
}

.min-vh-grid-cell {
  min-height: 13vh;
}

.min-vh-story-number-cell {
  min-height: 12.5vh;
}

.vline {
  border-left: 0.5px solid rgba(255, 255, 255, 0.438);
  height: 80vh;
  margin-left: 50%;
  margin-top: 10vh;
  position: absolute;
}

.bottom__align {
  position: relative;
}

#bottom__align__content {
  position: absolute;
  bottom: 0;
}

.center__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.absolute__pos {
  position: absolute;
}

a {
  text-decoration: none;
}

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page__root {
  animation: fadein 0.5s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
